In [ ]:
pip install word2number

Collecting word2number
  Downloading https://files.pythonhosted.org/packages/4a/29/a31940c848521f0725f0df6b25dca8917f13a2025b0e8fcbe5d0457e45e6/word2number-1.1.zip
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-cp37-none-any.whl size=5589 sha256=c26c5e5a1715ac36da301cae632c5743a38f2ed3793c681fc9ddde00aef64940
  Stored in directory: /root/.cache/pip/wheels/46/2f/53/5f5c1d275492f2fce1cdab9a9bb12d49286dead829a4078e0e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [ ]:
d = pd.read_csv("hiring.csv")
d

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [ ]:
d.experience = d.experience.fillna("zero")
d

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [ ]:
d.experience = d.experience.apply(w2n.word_to_num)
d

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [ ]:
import math
median_test_score = math.floor(d['test_score(out of 10)'].mean())
median_test_score

7

In [ ]:
d['test_score(out of 10)'] = d['test_score(out of 10)'].fillna(median_test_score)
d

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [ ]:
reg = linear_model.LinearRegression()
reg.fit(d[['experience','test_score(out of 10)','interview_score(out of 10)']],d['salary($)'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reg.coef_

array([2922.26901502, 2221.30909959, 2147.48256637])

In [ ]:
reg.intercept_

14992.65144669314

In [ ]:
# Cuánto será el salario para una persona con 2 años de experiencia, 
# si obtuvo un puntaje en el test de 9 y en la entrevista de 6
reg.predict([[2,9,6]])

array([53713.86677124])

In [ ]:
x1 = 2922.26901502*2 + 2221.30909959*9 + 2147.48256637*6 + 14992.65144669314
print(x1)

53713.86677126314

In [ ]:
# Cuánto será el salario para una persona con 12 años de experiencia, 
# si obtuvo un puntaje en el test de 10 y en la entrevista de 10
reg.predict([[12,10,10]])

array([93747.79628651])

In [ ]:
x2 = 2922.26901502*12 + 2221.30909959*10 + 2147.48256637*10 + 14992.65144669314
print(x2)

93747.79628653315